# Ignore node_modules directory
node_modules

# Ignore build output
public
src

# Ignore environment variables file
.env

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore Git-related files
.gitignore